<template>
  <div class="home">
    <b-container>
      <h1>Posts</h1>
      {{getUser.ability.action}}
      <!-- <div v-for="post in getOneData" :key="post.id">
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
      </div> -->
      <b-table
        :items="getDisplayPosts"
        :fields="fields"
        class="mt-4 text-start table"
        :striped="true"
      ></b-table>

      <b-pagination
        v-model="currentPage"
        :total-rows="getRows"
        :per-page="perPage"
        first-text="First"
        prev-text="Prev"
        next-text="Next"
        last-text="Last"
        @input="paginate(currentPage)"
      ></b-pagination>
    </b-container>
    <hr>
    <b-container>
      <!-- <h1>request two</h1>
      <div v-for="comment in getComments" :key="comment.id">
        <h3>{{comment.email}}</h3>
        <p>{{comment.body}}</p>
      </div> -->
      <b-list-group>
        <b-list-group-item 
          href="#" 
          class="flex-column align-items-start txt"
          v-for="comment in getComments" :key="comment.id"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{comment.email}}</h5>
            <small>3 days ago</small>
          </div>

          <p class="mb-1">
            {{comment.body}}
          </p>

        </b-list-group-item>
      </b-list-group>
    </b-container>
    <hr>
    <div>
      <h1>request three</h1>
      <div v-for="album in getAlbums" :key="album.id">
        <h4>{{album.title}}</h4>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
  },
  computed: {
    ...mapGetters([
      "getPosts",
      "getDisplayPosts",
      "getRows",
      "getComments",
      "getAlbums",
      "getUser",
      "isAuthenticated",
    ])
  },
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      fields: ["title", "body"],
    }
  },
  methods: {
    ...mapActions(["getThree"]),

    paginate(currentPage) {
      this.$store.dispatch("paginate", {currentPage, perPage:this.perPage})
    }
  },
  mounted() {
    this.getThree()
  }
}
</script>

<style scoped>
.table {
  text-align: start;
  padding: 1rem;
}

.txt {
  text-align: start;
}
</style>

