<template>
    <div>
        this is casl
    </div>
</template>

<script>
import defineAbilityFor from '../defineAbility.js'
import { defineAbility } from '@casl/ability';
import { Article } from '../entities.js'

export default {
    name: "Casl",
    data() {
        return {

        }
    },
    mounted() {
        const user = {id: 1, isLogged: true};
        const ownArticle = new Article({authorId: user.id});
        const anotherArticle = new Article({authorId: 2});
        const ability = defineAbilityFor(user);    
        console.log(ability.can('read', 'Article'));
        console.log(ability.can('update', 'Article'));
    }
}
</script>

<style>

</style>
