<template>
    <b-container class="m-5">
        <b-form @submit.prevent="login">
            <b-form-input type="email" v-model="user.email" placeholder="Enter your email"></b-form-input>

            <b-form-input type="password" v-model="user.password" placeholder="Enter your password"></b-form-input>
            
            <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
    </b-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: "Login",
    data() {
        return {
            user: {
                email: "",
                password: ""
            }
        }
    },
    methods: {
        ...mapActions(['loginAction']),

        login() {
            this.loginAction(this.user)
        }
    }
}
</script>

<style>

</style>
