<template>
    <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#">NavBar</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item to="/">Home</b-nav-item>
                <template v-if="isAuthenticated">
                    <b-nav-item to="/about">About</b-nav-item>
                    <b-nav-item @click.prevent="logout">Logout</b-nav-item>
                    <b-nav-item>Hi, {{getUser.name}}</b-nav-item>
                    <b-nav-item to="/casl">Casl</b-nav-item>
                </template>
                <b-nav-item v-else to="/login">Login</b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form v-if="isAuthenticated" @submit.prevent="search">
                    <b-form-input 
                        size="sm" 
                        class="mr-sm-2" 
                        placeholder="Search"
                        v-model="searchTxt"
                    ></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: "Navbar",
    computed: {
        ...mapGetters(["isLogged", "getUser", "isAuthenticated"])
    },
    data() {
        return {
            searchTxt: ""
        }
    },
    methods: {
        ...mapActions(["logoutAction"]),

        search() {
            this.$store.dispatch("search", {
                text: this.searchTxt
            })
        },

        logout() {
            this.logoutAction()
        }
    }
}
</script>

<style>

</style>
